:root {
  --primary-red: #ff3b49;
  --primary-blue: #0000ff;
  --light-grey: #ecedef;
  --dark-grey: #474d57;
}

body {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
