.wrapper {
  display: flex;
  gap: 16px;
  flex-direction: column;
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 20px;
}

.price {
  color: #0000ff;
  font-size: 20px;
  font-weight: 700;
}

.description {
  box-sizing: border-box;
  display: -webkit-box;
  line-height: 1.25rem;
  margin-bottom: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.descriptionCollapsed {
  -webkit-line-clamp: 3;
}

.button {
  align-items: center;
  background-color: #ecedef;
  border: 1px solid #ecedef;
  border-radius: 0.4rem;
  box-sizing: border-box;
  color: #474d57;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  justify-content: center;
  height: 2rem;
  padding: 1rem 1.2rem;
  width: 100%;
}

@media (min-width: 1024px) {
  .wrapper {
    grid-area: main;
  }
}
