.item {
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.anchor {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.imageWrapper {
  display: flex;
  justify-self: center;
  height: 128px;
  position: relative;
  width: 128px;
}
