.header {
  border: solid 1px var(--light-grey);
  box-sizing: border-box;
  display: flex;
  grid-area: header;
  padding: 0 32px;
}

.logoWrapper {
  height: 88px;
  position: relative;
  width: 104px;
}
